
# =============== #
# BM.Games	      #
# =============== #

BM.Games/[Tt]emp/
BM.Games/[Oo]bj/
BM.Games/[Bb]uild
BM.Games/[Ll]ibrary/
BM.Games/sysinfo.txt
BM.Games/*.stackdump
 
# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
*.stackdump
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db

# ============ #
# self generated #
# ============ #

[Pp]latform-Builds/
*.opendb
*.sdf
*.csproj
.idea/

# ignore DOT meta, this is for meta folders
*.meta

# but include the actual meta files
!*.*.meta

*.sln

# Documentation files
**/html/*

